PORT=5000
MONGO_URI=mongodb://localhost:27017/algorisk-sentinel
AI_SERVICE_URL=http://localhost:8000
ALGORAND_TOKEN=
ALGORAND_SERVER=https://testnet-api.algonode.cloud
ALGORAND_INDEXER=https://testnet-idx.algonode.cloud
ALGORAND_MNEMONIC=
MICROPAYMENT_RECEIVER=
MICROPAYMENT_AMOUNT=100000
